<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <title>Editar</title>
</head>
<body>
    <div id="divPadre">
        <div id="divHijo">
    <h1>Editar Genero</h1>
    <a href="index.html">Volver</a>
    <form method="POST">
        {{forma.csrf_token}}
        <p>
            {{forma.nombre.label}}<br/>
            {{forma.nombre(size=30)}}
        </p>
       
        <p>
            {{forma.descripcion.label}}<br/>
            {{forma.descripcion(size=30)}}
        </p>
        
        <p>
            {{forma.enviar()}}
        </p>
    </form>
</div>
</div>
</body>
</html>